<%= form_for(:session, url: login_path) do |f| %>
	<%= f.text_field :email, type: 'email',placeholder:"E-mail"%>
	<%= f.text_field :password, type: 'password',placeholder:"Password"%>
	<%= f.submit "Login" %>
<%end%>	
<div><%= link_to "Facebook", "/auth/facebook"%></div>