<%= form_for @user do |form| %>
	<%= form.text_field :name, type: 'name',placeholder:"Name"%>
	<%= form.text_field :email, type: 'email',placeholder:"E-mail"%>
	<%= form.text_field :password, type: 'password',placeholder:"Password"%>
	<%= form.submit "Create Account"%>
<%end%>

<div><%= link_to "Facebook", "/auth/facebook"%></div>