<% options = { units: "metric", APPID: ENV["WX_KEY"] } %>
<% weatherall = OpenWeather::Current.city_id("1733046", options) %>
<% @city = weatherall ['name' ] %>
<% wind = weatherall ['wind' ] %>
<% @speed = wind ['speed' ] %>
<% sky = weatherall ['weather']%>
<% @cloudtype = weatherall['weather'][0]['description'] %>
<% temp = weatherall['main']%>
<% @celsius = temp['temp']%>

<% s_options = { units: "metric", APPID: ENV["WX_KEY"] } %>
<% s_weatherall = OpenWeather::Current.city_id("1880251", s_options ) %>
<% @s_city = s_weatherall ['name' ] %>
<% s_wind = s_weatherall ['wind' ] %>
<% @s_speed = s_wind ['speed' ] %>
<% s_sky = s_weatherall ['weather']%>
<% @s_cloudtype = s_sky[0]['description']%>
<% s_temp = s_weatherall['main']%>
<% @s_celsius = s_temp['temp']%>



          
<h3 style="color: white; padding-left: .25em; font-weight: 300; font-family: 'Roboto', sans-serif;"> <%= @city %></h3>
<h4 style="color: white; padding-left: .75em; font-weight: 400; font-family: 'Roboto', sans-serif;">currently:</h4>
<h4 style="color: white; padding-left: .75em; font-weight: 400;  font-family: 'Roboto', sans-serif;"> temp: <%= @celsius.round %>° <br><%= @cloudtype %> <br>wind speed: <%= @speed%></h4> 

          
<h3 style="color: white; padding-left: .25em; font-weight: 300; font-family: 'Roboto', sans-serif;"> Singapore</h3>
<h4 style="color: white; padding-left: .75em; font-weight: 400; font-family: 'Roboto', sans-serif;">currently:</h4>
<h5 style="color: white; padding-left: .75em; font-weight: 400;  font-family: 'Roboto', sans-serif;"> temp: <%= @s_celsius.round %>° <br><%= @s_cloudtype %> <br>wind speed: <%= @s_speed%></h5> 
