<script>
	var getIP = 'http://ip-api.com/json/';
	var openWeatherMap = 'http://api.openweathermap.org/data/2.5/weather'
	$.getJSON(getIP).done(function(location) {
	    $.getJSON(openWeatherMap, {
	        lat: location.lat,
	        lon: location.lon,
	        units: 'metric',
	        APPID: '<%= ENV["WX_KEY"] %>'
	    }).done(function(weather) {
	        // console.log(weather)
	        $('#weather-show').append('<br><h4">Weather: '+ weather.weather["0"].description + '</h4></br>');
	        $('#weather-show').append('<h4">Humidity: '+ weather.main.humidity + '%</h4></br>');
	        $('#weather-show').append('<h4">Temperature: '+ weather.main.temp_min + '</h4></br>');
	        $('#weather-show').append('<h4">Wind Speed: '+ weather.wind.speed + '</h4></br>');
	    })
	})
</script>
<!--
<% options = { units: "metric", APPID: ENV["WX_KEY"] } %>
<% weatherall = OpenWeather::Current.city_id("1733046", options) %>
<% @city = weatherall ['name' ] %>
<% wind = weatherall ['wind' ] %>
<% @speed = wind ['speed' ] %>
<% sky = weatherall ['weather']%>
<% @cloudtype = weatherall['weather'][0]['description'] %>
<% temp = weatherall['main']%>
<% @celsius = temp['temp']%>
     
<h3><%= @city %></h3>
<h4>currently:</h4>
<h4> temp: <%= @celsius.round %>° <br><%= @cloudtype %> <br>wind speed: <%= @speed%></h4> -->


<div id="weather-show" style="text-align: left;">Your Current Location Weather</br></div>

